:host > svg {
  padding: var(--honey-webcomponents-padding, 5px);
  font-size: var(--honey-webcomponents-font-size, medium);
  border: var(--honey-webcomponents-border, 0);
  width: var(--honey-webcomponents-width, 36px);
  height: var(--honey-webcomponents-height, 36px);
}

:host > svg > path {
  stroke-width: 5;
}

.speakerimage {
  stroke: var(--honey-webcomponents-color, blue);
  fill: var(--honey-webcomponents-color, blue);
  background: var(--honey-webcomponents-background, transparent);
}

.speakerimage-disabled {
  stroke: var(--honey-disabled-color, gray);
  fill: var(--honey-disabled-color, gray);
  background: var(--honey-disabled-background, lightgrey);
  cursor: var(--honey-disabled-cursor, not-allowed);
}



